
html, body {
	height: 100%;
}

body {
	/* color: #FFF; */
	font-size: 13px;
	line-height: 18px;
	font-family: 'Roboto', sans-serif !important;
}

p {
	margin-bottom: 20px;
}

a {
	color: #FFF;
	text-decoration: underline;
}

a:active {
	color: #fff !important;
}

a:hover {
	color: #fff !important;
}
a{
	color: #fff !important;
}

.active a {
	background-color: #ef8726 !important;
	color: #fff !important

}

.content {
	padding: 65px 40px 20px 40px; /* add 45px + 20px nav height mobile */
	height: 33.333333%; /* 100/number of sections % */
	width: 100%;
}

.heading {
	height: auto;
	width: auto;
	max-height: 50px;
	display: block;
}

#right-split{
	height: 100%;
	background: #fff;
	position: relative;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.row, div[class*='col-'] {
	height: 100%;
}

.container-fluid {
	height: 400%; /* 100*number of sections % */
}


.menu-bar {
	background-color: #000;
	overflow: hidden;
	vertical-align: middle;
}

#banner {
	/* background: #fff; */
	text-align: center;
	padding-top: 170px;
	background-image: url('../images/elon.jpeg');
}

#banner.content {
  height: 100%;
}

/* Navigation */
#menu-block {
	background: black;
}

#menu-block.content {
  height: 100%;
}

#menu-block ul {
	padding: 0;
}

#menu-block a {
	margin: auto;
}

#menu-block li {
	list-style: none;
}

.affix {
  top: 0;
}





/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

ul.social-buttons {
  text-align: center;
  margin-top: 50px;
}

ul.social-buttons li {
  display: inline-block;
  margin: 0 10px;
}

ul.social-buttons li a {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 30px;
  line-height: 60px;
  color: white;
}

ul.social-buttons li a.brandico-twitter-bird {
  background-color: #4099FF;
}

ul.social-buttons li a.brandico-facebook {
  background-color: #3B5998;
}

ul.social-buttons li a.brandico-instagram {
  background-color: #3f729b;
}

ul.social-buttons li a.brandico-vimeo {
  background-color: #4EBBFF;
}

ul.social-buttons li a.brandico-linkedin {
  background-color: #0e76a8;
}

/*Demo 1*/
ul#demo1 li a {
  transition: transform 0.2s linear;
}

ul#demo1 li:hover a {
  transform: translateY(-10px);
}

/*Demo 2*/
ul#demo2 li a {
  transition: transform 0.5s ease-in-out;
}

ul#demo2 li:hover a {
  transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}

/*Demo 3*/
ul#demo3 li a {
  transition: transform 0.2s ease-in-out 0;
}

ul#demo3 li:hover a {
  transform: rotateZ(27deg) scale(1.1);
}
